<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>#lookatyourface</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1633470833447779&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

	<h1>#lookatyourface HD Mirror ({{message}})</h1>
	<h3>Don't have a mirror at home? Don't despair, just #lookatyourface</h3>
  <div class="fb-like" data-href="https://www.facebook.com/Lookatyourface-267563734083360/?ref=br_rs" data-width="400" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  <hr>
  <img src='static/wip.gif' alt='wip2' width=auto>
	<div id="my_camera"></div>

	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 1280,
			height: 720,
			image_format: 'jpeg',
			jpeg_quality: 90,
			constraints: {
				width: { exact: 1280 },
				height: { exact: 720 }
			}
		});
		Webcam.attach( '#my_camera' );
	</script>

	<!-- A button for taking snaps -->
	<form>
		<input type=button value="Take HD Photograph" onClick="take_snapshot()">
	</form>

	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				document.getElementById('results').innerHTML =
					'<h2>Here is your large image:</h2>' +
					'<img src="'+data_uri+'"/>';
			} );
		}
	</script>

	<div id="results">Your captured image will appear here...</div>
  <a href="privacy">Privacy policy</a>
</body>
</html>
